<body>
    <title>Search Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    </head>
<div class="container-fluid">


    <h1 >
        No Results for "<%= query %>"
    </h1>
    <a href="/" class="btn text-white btn-outline-secondary bg-primary mb-5"> search again</a>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</BODY>


