<body>
    <title>Search Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    </head>
<div class="container-fluid">



<h1>Search for a movie</h1>
<form action="/results" method="GET">
    <!-- <input type="text" placeholder="search term" name="search">
    <input type="submit" text="search"> -->

    <div class="input-group mb-3">
        <input type="text" name="search" class=" form-control" placeholder="search for movie" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append  m-2 p-2">
          <input value="Search" class=" btn btn-outline-secondary"  type="submit"></input>
        </div>
      </div>
</form>





</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</BODY>


